/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider{
  max-height: 500px;
}

.image-container{
  position: relative;
  width: 80%;
}

.image-text{
  position: absolute;
  width: 100%;
  padding: 1.5rem;
  bottom: 10px;
  color: white;
  text-align: end;
}

.image-container > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-slider{
  width: 20%;
  max-height: 500px;
  position: relative;
}

.image-slider .cover > img{
  object-fit: cover;
  height: 100%;
  width: 100%;   
}

.cover{
  position: relative;
  object-fit: cover;
  height: calc(100% / 5);
}


.before-circle{
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: lightgray;

  cursor: pointer;
  z-index: 2;
}

.after-circle{
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: lightgray;

  cursor: pointer;
  z-index: 2;
}


.slide-up,
.slide-down{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}


.hide{
    display: none;
}

.active{
    display: block;
}


.item::after{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
} */




